.recomended__videos {
  flex: 0.8;
  background-color: #f9f9f9d0;
  padding: 40px 20px;
  padding-bottom: 0;
}

.recomendedVideos > h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.recomendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}

.recomendedVideos__text {
  margin-bottom: 20px;
}
