.sideBarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sideBarRow__icon {
  color: grey;
  font-size: large !important;
}

.sideBarRow__title {
  flex: 1;
  margin-left: 14px;
  font-size: 12px;
  font-weight: 500;
}

.sideBarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sideBarRow:hover > .sideBarRow__icon {
  color: red;
}

.sideBarRow:hover > .sideBarRow__title {
  font-weight: bold;
}

.sideBarRow.selected {
  background-color: lightgray;
}

.selected > .sideBarRow__icon {
  color: red;
}

.selected > .sideBarRow__title {
  font-weight: bold;
}
